name: release tf

on:
  push:
    tags:
      - "*" # triggers only if push new tag version, like `0.8.4` or else
  workflow_dispatch:

jobs:
  release:
    strategy:
      matrix:
        # os: [linux, darwin, windows]
        os: [windows]
    env:
      GOARCH: amd64
      GOOS: ${{ matrix.os }}
    name: release
    runs-on: ubuntu-latest
    outputs:
      sha_linux: ${{ steps.shasum.outputs.sha_linux }}
    steps:
      - uses: actions/checkout@main

      - uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - run: go test
        working-directory: tf
        env:
          GOOS: linux # the tests will only run if the os matches the os of the system of run-on

      - run: go build -o ../artifacts/tf${{ matrix.os == 'windows' && '.exe' || '' }}
        working-directory: tf
        env:
          GOOS: ${{ matrix.os }}

      - run: .github/build.sh tf
        env:
          VERSION: ${{ github.ref }}

      - run: ls -a
      - run: ls -a .github
      - run: ls -a artifacts

      # - uses: svenstaro/upload-release-action@v2
      #   with:
      #     repo_token: ${{ secrets.GITHUB_TOKEN }}
      #     file: "tf/*{.tar.gz,_checksum.txt}"
      #     tag: ${{ github.ref }}
      #     overwrite: true
      #     file_glob: true

      # - if: matrix.os == 'darwin' || matrix.os == 'linux'
      #   id: shasum
      #   run: |
      #     echo ::set-output name=sha_${{matrix.os}}::"$(shasum -a 256 *.tar.gz | awk '{printf $1}')"
